body{
    padding: 0px;
    margin: auto;
    height: 1000px;
    width: 800px;
}
h1{
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    text-align: center;
}
strong{
    font-size: 20px;
    
}